@import "normalize.css";
@import "less/_variables";
@import "less/_helpers";
@import "less/_typography";
@import "less/_forms-buttons";

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    background-color: @bg;  
    color: @dark-gray;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 14px;
}

.inner-header, .main, .footer {
    margin: 0 auto;
    width: 980px;
}

.header {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1) ,0 0 0 1px rgba(0, 0, 0, 0.05);
    height: 80px;
    margin-bottom: 1.7em;
    .logo {
        display: inline-block;
        margin-right: 1.5em;
        img {
            width: 75px;
        }
    }
    .search {
        display: inline-block;
        margin-right: 1.5em;
        input {
            width: 260px;
        }
    }
    .header-links {
        border-right: 1px solid @light-gray;
        padding: 1rem 0;
    }
    .header-links a {
        margin: 0 .8em;
    }
    .header-cart {
        font-size: 12px;    
        padding: 0 .8em;
        img {
            display: block;
            padding-bottom: .5em; 
        }
    }

}

.filters {
    float: left;
    font-size: 13px;
    padding-right: 2em;
    width: 25%;
}

.filters-inner {
    background-color: white;
    border: 1px solid @light-gray;
    border-radius: @border-radius;
    padding: 1em;
}

.square {
    background-color: white;
    border: 1px solid @light-gray;
    border-radius: @border-radius;
    display: inline-block;
    width: 20px;
    height: 20px;
    &.red {
      background-color: red;
    }
    &.orange {
        background-color: #FF7F00;
    }
    &.yellow {
        background-color: #F3CC0C;
    }
    &.green {
        background-color: #0AC20A;
    }
    &.blue {
        background-color: #0CCCF3;
    }
    &.purple {
        background-color: #A60CF3;
    }
    &.black {
        background-color: black;
    }
    &:hover {
        border: 1px solid @med-gray;
    }

}

.main-content {
    float: left;
    font-size: 13px;
    width:75%;
}

.sort-results a {
    line-height: 1;
}

.products {
}


.product {
    background-color: white;
    border: 1px solid @light-gray;
    border-radius: @border-radius;
    float: left;
    font-size: 12px;
    line-height: 1;
    margin-right: 2.8em;
    padding: .35em;
    width: 222px;
    &:nth-child(3) {
        margin-right: 0;
    }
    &:hover {
        box-shadow: 0 0 3px 0 fade(black, 10%), 0 0 0 1px fade(black, 10%);
    }
    img {
        width: 100%;
    }
    .link-muted {
        line-height: 1.3;
    }
    .listing-info {
        line-height: 1;
        padding: 0 2px;
    }
    .product-shop, .product-price {
        line-height: 1.4;
    }
    .product-shop {
        color: @med-gray;
    }
    .product-price {
        color: @green;
    }
}


.pagination {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    a, span {
        display: inline-block;
        padding: .4em;
    }
}

.forward-back {
    text-align: center;
    .btn {
        margin: .3em;
    }
}

.footer {
    font-size: 13px;
    margin-top: 7em;
    h4 {
        margin-bottom: .5em;
    }
}

.footer-column {
    float: left;
    width: 20%;
    a {
        display: block;
        line-height: 2;
    }
}

.footer-configs {
    margin: 0 auto;
    max-width: 450px;
    .btn-default {
        border: 1px solid @light-gray;
        &:hover {
            background-color: fade(@blue, 15%);
            color: @blue;
        }
    }
    .btn-gray {
        background: @light-gray; /* Old browsers */
        background: linear-gradient(to bottom,  #ffffff 0%, darken(@bg, 1%) 15%,darken(@bg, 1%) 95%,@bg 100%); /* W3C */
        font-size: 15px;
        line-height: 1;
        width: 170px;
    }
}

.footer-copyright {
    font-size: 12px;
    max-width: 450px;
    margin: 0 auto;
    padding: 2em 0 3em 0;
    text-align: center;
    .text-muted {
        color: @med-gray;
    }
    span, a {
        padding: .5em;
    }
}







